@media handheld, only screen and (max-width: 767px) { /*-MOBILE-*/
    /*--------------------*/
    .b-header {
        position: fixed;
    }
    .hide-on-mobile {
        display: none !important;
    }
    /*--------------------*/
    .ov-h {
        overflow: hidden;
    }
    /*--------------------*/
    h2,
    h2 a:link, 
    h2 a:active, 
    h2 a:visited, 
    h2 a:hover,
    a:link h2, 
    a:active h2, 
    a:visited h2, 
    a:hover h2 {
        font-size: 24px;
    }
    /*--------------------*/
    .l-grid {
        height: 260px;
    }
    .l-grid .grid__item1 {
        left: 20px;
        right: 20px;
        top: 280px;
        width: auto;
        text-align: center;
    }
    .l-grid .grid__item2 {
        right: 20px;
        left: 20px;
        top: 140px;
        width: auto;
        text-align: center;
    }
    .l-grid .grid__item2:before {
        margin-left: -45px;
        content: "";
        display: block;
        position: absolute;
        width: 90px;
        top: -20px;
        left: 50%;
        border-top: 1px solid #3e3e3e;
    } 
    .l-grid .grid__item4 {
        left: 20px;
        right: 20px;
        width: auto;
        text-align: center;
    }
    .l-grid .grid__item5 {
        right: 20px;
        left: 20px;
        top: 310px;
        text-align: center;
    }
    /*--------------------*/
    .l-footerbox {
        border-bottom-width: 120px;
    }
    /*--------------------*/
    .l-footerbox-stop {
        padding-bottom: 110px;
        height: 260px;
    }
    /*--------------------*/
    .b-form [class^="form__col-"] {
        width: 100%;
    }
    .b-form .form__captha .form__captha_label {
        display: block;
        padding-right: 0;
        padding-bottom: 10px;
        float: none;
        width: auto;
    }
    .b-form .form__captha .form__inputwrap {
        padding: 0;
        margin: 0;
        width: auto;
    }
    /*--------------------*/
    .b-picture2 {
        height: 175px;
    }
    /*--------------------*/
    .b-logo {
        left: 20px;
        right: 20px;
        top: 75px;
        text-align: center;
    }
    /*--------------------*/
    .b-pilot {
        height: 60px;
    }
    .b-pilot .pilot__2 {
        top: 5px;
        right: 20px;
        width: 160px;
    }
    .b-pilot .pilot__4 {
        margin-left: -135px;
        top: 160px;
        left: 50%;
        width: 270px;
    }
    .b-pilot .pilot__2 .b-head-link {
        position: fixed;
        margin-right: 20px;
    }
    /*--------------------*/
    .b-head-time {
        text-align: left;
    }
    /*--------------------*/
    .b-head-phone {
        text-align: left;
    }
    /*--------------------*/
    .b-head-adress {
        text-align: left;
    }
    /*--------------------*/
    .b-head-vk {
        border-right-width: 0;
        text-align: right;
    }
    /*--------------------*/
    .b-head-slogan {
        padding: 15px;
        border-left: 0;
        border-top: 1px solid #eee;
        text-align: center;
    }
    .b-head-slogan br {
        display: none;`
    }
    /*--------------------*/
    .b-guestbox .guestbox__leftside {
        padding-right: 0;
        float: none;
        width: auto;
    }
    /*--------------------*/
    .b-category .category__item {
        width: 100%;
    }
    /*--------------------*/
    .b-textbenefits {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .b-textbenefits .textbenefits__items {
        display: block;
        font-size: 13px;
    }
    .b-textbenefits .textbenefits__item {
        padding: 5px 0;
        margin-right: -.275em;
        border: 0;
        width: 50%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .b-textbenefits .textbenefits__item br {
        display: none;
    }
    .b-textbenefits .textbenefits__item ins,
    .b-textbenefits .textbenefits__item span {
        display: block;
        text-align: center;
    }
    .b-textbenefits .textbenefits__item ins {
        font-size: 28px;
    }
    /*--------------------*/
    .b-benefits h2 {
        text-align: center;
    }
    .b-benefits .benefits__item {
        width: 100%;
        padding-bottom: 30px;
    }
    /*--------------------*/
    .b-steps {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .b-steps .steps__item {
        position: relative;
        padding-bottom: 50px;
        width: 100%;
        display: block;
    }
    .b-steps .steps__item:before {
        margin-left: -5px;
        margin-bottom: 10px;
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 10px;
        height: 39px;
        background: url("");
    }
    .b-steps .steps__item:first-child:before {
        display: none;
    }
    .b-steps .steps__pic:before {
        display: none;
    }
    /*--------------------*/
    .b-team {
        padding-top: 30px;
        padding-bottom: 30px;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    .b-team .team__content,
    .b-team .team__items {
        display: block;
        width: auto;
    }
    .b-team .team__content {
        padding-bottom: 30px;
        padding-right: 0;
    }
    .b-team .team__btn {
        text-align: center;
    }
    .b-team .team__item {
        padding-bottom: 30px;
        margin-right: 0;
        display: block;
        width: 100%;
    }
    /*--------------------*/
    .b-form-photo {
        margin: 0 -20px;
        padding: 0;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    .b-form-photo .form-photo__inner {
        padding: 30px 20px;
        margin-left: 0;
    }
    .b-form-photo .form-photo__content {
        font-size: 14px;
        line-height: 1.3;
    }
    /*--------------------*/
    .b-promotext {
        padding-top: 30px;
        padding-bottom: 30px;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        font-size: 14px;
    }
    /*--------------------*/
    .b-last-reviews {
        padding-top: 30px;
    }
    /*--------------------*/
    /*--------------------*/
    /*--------------------*/
    /*--------------------*/
    .page-main h2 {
        text-align: center;
    }
    /*--------------------*/
    .page-main .column__center-indent {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*--------------------*/
    .b-repair {
        max-height: 550px;
    }
    .b-repair .repair__item {
        width: 250px;
        height: 180px;
    }
    .b-advantage {
        height: 1000px;
    }
    .b-advantage .advantage__item {
        width: 100%;
    }
    .b-question {
        height: 450px;
    }
    .b-question .question__number,
    .b-question .question__form,
    .b-question .question__adress {
        width: 100%;
        padding-left: 20px;
        margin: 0 auto;
        text-align: center;
    }
    .b-question .question__number p:before,
    .b-question .question__form p:before,
    .b-question .question__adress p:before {
        display: none;
    }
}
/*--------------------*/
@media handheld, only screen and (max-width: 767px) and (orientation: landscape) { /*-MOBILE LANDSCAPE-*/ 
    /*--------------------*/
    .b-category .category__item {
        width: 50%;
    }
    /*--------------------*/
    .b-benefits .benefits__item {
        width: 50%;
    }
    /*--------------------*/
}